<div class="footer pt-20" data-th-fragment="myFooter">

<footer class="footer-container navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-left">
                        <span>© 2019 BFW developed by Hexakomb Ltd . <a href="http://themeforest.net/user/westilian">Version - 1.0.0</a></span>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>
</div>