<div class="sidebar sidebar-main hidden-xs" data-th-fragment="mySidebar">
	<aside class="leftbar material-leftbar">
		<div class="left-aside-container">
			<div class="user-profile-container" style="background: rgb(77, 77, 77);">
				<div class="user-profile clearfix">
					<div class="admin-user-thumb">
						<img src="images/user.png" alt="admin">
					</div>
					<div class="admin-user-info">
						<ul>
							<li th:if="${session.a_user!=null}"><a href="#" id='logeed_in_user_name'
									th:utext="${session.a_user.getFname()+' '+session.a_user.getLname()}">Hexakomb
								</a></li>
							<li th:if="${session.a_user!=null}" th:utext="${session.a_user.getRole()}">
								<span>Admin</span></li>


							<li th:if="${session.a_reg!=null}" th:utext="${session.a_reg.getNames()}"><span>Admin</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="admin-bar"></div>
			</div>
			<ul class="list-accordion">
				<li class="list-title">Menu</li>
				<li th:if="${session.a_user.getRole().toLowerCase().contains('admin')}"><a href="#"><i
							class="zmdi zmdi-accounts"></i><span class="list-label">USER MANAGEMENT</span></a>
					<ul>
						<li><a href="/users">USERS</a></li>

						<li class="hidden"><a href="#">PERMISSIONS</a></li>

					</ul>
				</li>

				<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin'))}"><a href="#"><i
							class="zmdi zmdi-accounts"></i><span class="list-label">PRODUCTION</span></a>
					<ul>

						<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin'))}"><a
								href="/seasons">SEASONS</a></li>
						<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin'))}"><a
								href="/productcategory">PRODUCT CATEGORY</a></li>
						<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin'))}"><a
								href="/products">PRODUCTS</a></li>

						<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager'))}"><a
								href="/registrantproducts">PRODUCTS</a></li>

					</ul>
				</li>


				<li th:if="${(!session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin')) && session.a_reg!=null} "><a   th:if="${session.a_reg.getRegistrantCategory().equalsIgnoreCase('COOPERATIVE')}"
						
						href="#"><i class="zmdi zmdi-accounts"></i><span class="list-label">PRODUCTION</span></a>
					<ul>

					

						<li th:if="${(session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager'))}"><a
								href="/registrantproducts">PRODUCTS</a></li>
					</ul>
				</li>



				<li th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin')}"><a
						href="entities"><i class="zmdi zmdi-home"></i><span class="list-label">ENTITIES</span></a></li>
				<li
					th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager') && !(session.a_reg.getRegistrantCategory().equalsIgnoreCase('COOPERATIVE_BUYER'))&& !(session.a_reg.getRegistrantCategory().equalsIgnoreCase('INDIVIDUAL_BUYER'))}">
					<a href="loans"><i class="zmdi zmdi-money"></i><span class="list-label">LOANS</span></a></li>

				<li
					th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager') && session.a_reg.getRegistrantCategory().equalsIgnoreCase('COOPERATIVE')}">
					<a href="members"><i class="zmdi zmdi-accounts"></i><span class="list-label">MEMBERS</span></a></li>

				<li
					th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager') && session.a_reg.isUseTeams() && session.a_reg.getRegistrantCategory().equalsIgnoreCase('COOPERATIVE')}">
					<a href="teams"><i class="zmdi zmdi-accounts-list"></i><span class="list-label">Teams</span></a>
				</li>

				<li
					th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager') && (!session.a_reg.getRegistrantCategory().equalsIgnoreCase('FINANCIAL'))}">
					<a href="quotations"><i class="zmdi zmdi-collection-text"></i><span class="list-label">QUOTATIONS</span></a>
				</li>
				<li
					th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager') && (!session.a_reg.getRegistrantCategory().equalsIgnoreCase('FINANCIAL'))}">
					<a href="contracts"><i class="zmdi zmdi-folder-outline"></i><span class="list-label">CONTRACTS</span></a>
				</li>
				

				<li><a href="#"><i class="zmdi zmdi-search-in-file"></i><span class="list-label">REPORTS</span></a></li>

				<li><a href="#"><i class="zmdi zmdi-notifications"></i><span class="list-label">NOTIFICATIONS</span></a>
				</li>

			</ul>
		</div>
	</aside>



	<!-- Modal for changing  password -->
	<div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-sm ">
			<div class="modal-content">
				<div class="modal-header modal-primary" style="background: rgb(0, 155, 212)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change password</h4>
				</div>
				<div class="modal-body">

					<form method="post" class="" id="change_default_p_form">


						<div class="login-form-content">


							<div class="form-group">
								<div class="input login-input">
									<div class="input-group left-addon">
										<span class="input-group-addon"> <span class="fa fa-lock"></span>
										</span> <input class="form-control login-frm-input" type="password"
											id="chang_p_currentpassword" name="currentpassword"
											placeholder="Current Password" required="required">
									</div>
								</div>
							</div>


							<div class="form-group">
								<div class="input login-input">
									<div class="input-group left-addon">
										<span class="input-group-addon"> <span class="fa fa-lock"></span>
										</span> <input class="form-control login-frm-input" type="password"
											id="change_p_password" name="password" placeholder="New Password"
											required="required">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="input login-input">
									<div class="input-group left-addon">
										<span class="input-group-addon"> <span class="fa fa-lock"></span>
										</span> <input class="form-control login-frm-input" type="password"
											id="change_p_confirmP" name="confirmPassword" placeholder="Confirm Password"
											required="required">
									</div>
								</div>
							</div>


							<div class="form-group">
								<div class="input login-input">

									<input class="form-control login-frm-input" type="hidden" id="change_p_username"
										name="username" hidden="" th:attr="value=${session.a_user.username}"
										required="required">

								</div>
							</div>

							<div class="form-group">
								<div class="input login-input">

									<input class="form-control login-frm-input" type="hidden"
										id="change_default_p_where" value="not_login" name="fromwhere" hidden=""
										required="required">

								</div>
							</div>

							<input type="hidden" name="applicationName" id="l_applicationName" value="BFW" hidden="" />




						</div>

						<div class="login-form-footer">
							<span class="text-danger" id="error_current_p"></span> <a type="submit"
								id="change_default_p_button"
								class="btn-block btn btn-primary change_p_from_side_bar">Change Password</a>
						</div>



					</form>

				</div>
				<div class="modal-footer hidden">
					<button class="btn btn-danger" type="button">Ok</button>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for deleting  items-->

	<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-ms">
			<div class="modal-content">
				<div class="modal-header modal-primary" style="background: rgb(0, 155, 212)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 alert alert-warning">
							<div id="warning">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-actions">
								<a class="btn btn-primary pull-right" data-dismiss="modal" id="delete_item"> <i
										class="zmdi zmdi-save"></i> Delete</a>
								<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for password-reset  items-->

	<div class="modal fade" id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-ms">
			<div class="modal-content">
				<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							do you really want to reset the password of this user?
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-actions">
								<a class="btn btn-primary pull-right" data-dismiss="modal" id="reset"> <i
										class="zmdi zmdi-refresh"></i> Reset</a>
								<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for cancel-loan  items-->

	<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-ms">
			<div class="modal-content">
				<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							You are about to cancel a loan application, do you really want to perform this action?
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-actions">
								<a class="btn btn-primary pull-right" data-dismiss="modal" id="cancel"> <i
										class="zmdi zmdi-block"></i> Yes, cancel application</a>
								<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> No</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal for confirm -loan payment items-->

	<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-ms">
			<div class="modal-content">
				<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							You are about to confirm payment for a loan application, do you really want to perform this
							action?
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-actions">
								<a class="btn btn-primary pull-right" data-dismiss="modal" id="confirm"> <i
										class="zmdi zmdi-check"></i> Yes</a>
								<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> No</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Modal to Edit Contract Information -->
<div class="modal fade" id="contract_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
				<h4 class="modal-title text-center " style="color:white;">You are about to change contract information</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<form class="form-horizontal material-form" id="c_form">
								<div class="col-md-6">
									<fieldset>
										<legend>Contract</legend>
										<div class="form-group ">
											<label class="col-md-4 control-label">Product</label>
											<div class=" col-md-8">
												<input type="text" name="c_product" class="form-control" id="c_pName" placeholder="Ibishyimbo" readonly>
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Unity Price</label>
											<div class=" col-md-8">
												<input type="text" name="c_unityPrice" class="form-control" id="c_unityPrice" placeholder="c_unityPrice"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Start Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="c_startDate" placeholder=""
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Payment Term</label>
											<div class=" col-md-8">
												<input type="text" name="c_paymentTerm" class="form-control" id="c_paymentTerm" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">BANK</label>
											<div class=" col-md-8">
												<input type="text" name="c_bank" class="form-control" id="c_bank" placeholder="BK"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Comment</label>
											<div class=" col-md-8">
												<textarea class="form-control" rows="3" id="c_comment" required></textarea>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-6">
									<fieldset>
										<legend>&nbsp;&nbsp;</legend>
										<div class="form-group ">
											<label class="col-md-4 control-label">Quantity</label>
											<div class=" col-md-8">
												<input type="text" name="c_quantity" class="form-control" id="c_quantity" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Delivery date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="c_Ddate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">End Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="c_Edate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Payment Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="c_Pdate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Bank Account</label>
											<div class=" col-md-8">
												<input type="text" name="c_account" class="form-control" id="c_account" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Delivery Mechanism</label>
											<div class="col-md-8">
												<select class="form-control" required="required"  id="c_mechanism">
													<option value="SELLER_SHIPPING">SELLER_SHIPPING</option>
													<option value="BUYER_SHIPPING">BUYER_SHIPPING</option>
												</select>
											</div>
										</div>
										
										<div class="form-group ">
											<label class="col-md-4 control-label">Content</label>
											<div class=" col-md-8">
												<textarea class="form-control" rows="3" id="c_content"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="form-group col-md-12">
									<div class="col-md-12">
										<div class="form-actions">
											<a class="btn btn-primary pull-right" id="saveContract"> <i class="zmdi zmdi-save"></i> Amend</a>
											<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
										</div>
									</div>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<-- !-->

<div class="modal fade" id="salesOrder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
				<h4 class="modal-title text-center " style="color:white;">You are about to change SalesOrder information</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<form class="form-horizontal material-form" id="sales_form">
								<div class="col-md-6">
									<fieldset>
										<legend>SalesOrder</legend>
										<div class="form-group ">
											<label class="col-md-4 control-label">Product</label>
											<div class=" col-md-8">
												<input type="text" name="s_product" class="form-control" id="s_pName" placeholder="Ibishyimbo" readonly>
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Unity Price</label>
											<div class=" col-md-8">
												<input type="text" name="s_unityPrice" class="form-control" id="s_unityPrice" placeholder="s_unityPrice"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Start Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="s_startDate" placeholder=""
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Payment Term</label>
											<div class=" col-md-8">
												<input type="text" name="s_paymentTerm" class="form-control" id="s_paymentTerm" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">BANK</label>
											<div class=" col-md-8">
												<input type="text" name="s_bank" class="form-control" id="s_bank" placeholder="BK"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Comment</label>
											<div class=" col-md-8">
												<textarea class="form-control" rows="3" id="s_comment" required></textarea>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-6">
									<fieldset>
										<legend>&nbsp;&nbsp;</legend>
										<div class="form-group ">
											<label class="col-md-4 control-label">Quantity</label>
											<div class=" col-md-8">
												<input type="text" name="s_quantity" class="form-control" id="s_quantity" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Delivery date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="a_Ddate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">End Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="s_Edate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Payment Date</label>
											<div class=" col-md-8">
												<input type="text" name="dates" class="form-control" id="s_Pdate" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Bank Account</label>
											<div class=" col-md-8">
												<input type="text" name="s_account" class="form-control" id="s_account" placeholder="Names"
													required="required">
											</div>
										</div>
										<div class="form-group ">
											<label class="col-md-4 control-label">Delivery Mechanism</label>
											<div class="col-md-8">
												<select class="form-control" required="required"  id="s_mechanism">
													<option value="SELLER_SHIPPING">SELLER_SHIPPING</option>
													<option value="BUYER_SHIPPING">BUYER_SHIPPING</option>
												</select>
											</div>
										</div>
										
										<div class="form-group ">
											<label class="col-md-4 control-label">Content</label>
											<div class=" col-md-8">
												<textarea class="form-control" rows="3" id="s_content"></textarea>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="form-group col-md-12">
									<div class="col-md-12">
										<div class="form-actions">
											<a class="btn btn-primary pull-right" id="saveSalesOrder"> <i class="zmdi zmdi-save"></i> Amend</a>
											<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
										</div>
									</div>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- Modal to confirm Contract -->
<div class="modal fade" id="c_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-ms">
		<div class="modal-content">
			<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						You are about to confirm Contract, do you really want to perform this
						action?
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="hidden" id="c_contractUuid">
						<div class="form-actions">
							<a class="btn btn-primary pull-right" data-dismiss="modal" id="co_confirm"> <i
									class="zmdi zmdi-check"></i> Yes</a>
							<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> No</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal For Terminating The Contract -->
<div class="modal fade" id="c_terminate_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-ms">
		<div class="modal-content">
			<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						You are about to Terminate Contract, do you really want to perform this
						action?
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">	
						<form class="form-horizontal material-form" id="ter_form">
							<input type="hidden" id="co_contractUuid">
							<div class="form-group col-md-12 ">
								<label class="control-label">Comment</label>
								<div class="col-md-12">
									<textarea class="form-control" rows="3" id="co_content"></textarea>
								</div>
							</div>
							<div class="form-group col-md-12">
								<div class="form-actions col-md-12">
									<a class="btn btn-primary pull-right"  id="co_terminate"> <i class="zmdi zmdi-check"></i>
										Yes</a>
									<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> No</a>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal To Update Quotation -->
<div class="modal fade" id="c_quotation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-ms">
		<div class="modal-content">
			<div class="modal-header modal-danger" style="background: rgb(0, 155, 212)">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						You are about to change the status of Quotation , do you really want to perform this
						action?
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="hidden" id="quo_status">
						<div class="form-actions">
							<a class="btn btn-primary pull-right" data-dismiss="modal" id="quo_confirm"> <i
									class="zmdi zmdi-check"></i> Yes</a>
							<a href="#" class="btn btn-default pull-left" data-dismiss="modal"> No</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script>

		function deleted(path) {
			var username = $.parseJSON(sessionStorage.getItem('a_user')).username;
			var loggedinrole = $.parseJSON(sessionStorage.getItem('a_user')).role;
			var objectId = $.parseJSON(sessionStorage.getItem('a_user')).objectId;
			var firstName = $("#e_fname").val();
			var role = 'Entity Manager';
			$.ajax({
				headers: {

					'bfw_token': 'BFW' + formatDate(new Date(), "dd-MM-yyyy"),
					'doneBy': username
				},
				url: path,
				type: "DELETE", // type of action POST || GET
				dataType: 'json', // data type
				success: function (result, textStatus, jQxhr) {
					$("#e_save").removeClass('disabled');
					if (result.CODE == 200) {
						// console.log(result)
						$("#default_password_info").text('Member ' + result.OBJECT.names + ' is : ' + result.DESCRIPTION);
						$.alert(result.DESCRIPTION,
							{
								type: "success",
								position: ['top-right',
									[-0.42, 0]],
							});

						$("#f_delete").each(
							function () {
								this.reset();
							});

						// send SMS
						//   SendSMS(Member.phone,Member.names,Member.identity,user.password);
					} else {
						$.alert(result.DESCRIPTION,
							{
								type: "danger",
								position: ['top-right',
									[-0.42, 0]],
							});
					}


				},
				error: function (xhr, resp, text) {
					console.log(xhr, resp, text);
					$("#e_save").removeClass('disabled');
					$.alert('Error Occurred' + xhr.responseText,
						{
							type: "danger",
							position: ['top-right',
								[-0.42, 0]],
						});

				}
			});
		}


    
	</script>

</div>