<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BFW -Profile</title>

    <div data-th-replace="Link/CSS :: myCss"></div>

     <style>
         .profile-table{
             width: 100%;
             border-spacing: 8px;
         }
         .profile-table td{
             padding-left: 7px;
             height: 30px;
             margin: 20px;
             border: 1px solid silver;
         }
         .profile-table .td-header{
             width:20%;
             background-color: #eceff1;
         }
         #w_header{
             padding-bottom: 5px;
         }
         #w_wrap{
             padding-top: 10px;
             padding-bottom: 5px;
         }

     </style>
</head>

<body class="leftbar-view">

<div data-th-replace="/Layout/Navbar :: myHeader"></div>
<div data-th-replace="/Layout/Sidebar :: mySidebar"></div>
<section class="main-container">
    <div class="container-fluid">
        <div>

            <div class="page-header filled full-block light">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Profile</h2>

                    </div>
                    <div class="col-md-6">
                        <ul class="list-page-breadcrumb">
                            <li>Menu <i class="zmdi zmdi-chevron-right"></i></li>
                            <li>Registration <i class="zmdi zmdi-chevron-right"></i></li>
                            <li class="active-page">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div>
                        <a href="#" class="thumbnail">
                            <img src="images/user.png" alt="entity" width="190" height="150">
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-4">
                    <div class="widget-wrap" id="w_wrap">
                        <div class="widget-header block-header margin-bottom-0 clearfix" id="w_header">
                            <div class="pull-left">
                                <h3>Entity Details</h3>
                            </div>
                        </div>
                        <div class="widget-container margin-top-0">
                            <div class="widget-content">
                                <div class="row">
                                  <table class="profile-table">
                                      <tr>
                                          <td class="td-header">ID</td>
                                          <td th:text="${session.a_reg.getIdentity()}"></td>
                                          <td class="td-header">Address</td>
                                          <td th:text="${session.a_reg.getAddress()}"></td>
                                      </tr>
                                      <tr>
                                          <td class="td-header">Name</td>
                                          <td  th:text="${session.a_reg.getNames()}"></td>
                                          <td class="td-header">Sector</td>
                                          <td th:text="${session.a_reg.getSector()}" ></td>
                                      </tr>
                                      <tr>
                                          <td class="td-header">Email</td>
                                          <td  th:text="${session.a_reg.getEmail()}"></td>
                                          <td class="td-header">Total Harvest</td>
                                          <td>
                                              <span th:text="${session.a_reg.getTotalHarvest()}"></span>
                                              kg
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="td-header">Phone</td>
                                          <td th:text="${session.a_reg.getPhone()}"></td>

                                      </tr>
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div th:if="${!session.a_user.getRole().toLowerCase().equalsIgnoreCase('SuperAdmin')}">
            <div class="row" th:if="${session.a_user.getRole().toLowerCase().equalsIgnoreCase('Admin')||session.a_user.getRole().toLowerCase().equalsIgnoreCase('Entity Manager')}">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue ">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="#home">Contacts</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#about">Land Info</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <!--Contact-->
                            <div id="home" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-wrap" style="padding-top: 10px;">
                                            <div class="widget-header margin-bottom-0 block-header clearfix" style="padding-bottom: 10px;" th:if="${!session.a_user.getRole().toLowerCase().equalsIgnoreCase('Admin')}">
                                                <div class="pull-left">
                                                    <a  class="btn btn-primary" href="#l_save_contact_modal" data-toggle="modal"> <i class="zmdi zmdi-plus"></i> NEW</a>
                                                </div>
                                            </div>

                                            <div class="widget-container">
                                                <div class="widget-content">


                                                    <div class="row">

                                                        <div id="list_members">
                                                            <div class="table-responsive">
                                                                <table id="list_contacts" class="display table table-striped">
                                                                    <thead>
                                                                    <tr class="member">
                                                                        <th>Names</th>
                                                                        <th>Gender</th>
                                                                        <th>Title</th>
                                                                        <th>Primary contact</th>
                                                                        <th>Contact</th>
                                                                        <th th:if="${!session.a_user.getRole().toLowerCase().equalsIgnoreCase('Admin')}">Action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--LandsInfo-->
                            <div id="about" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget-wrap" style="padding-top: 10px;">
                                            <div class="widget-header margin-bottom-0 block-header clearfix" style="padding-bottom: 10px;" th:if="${!session.a_user.getRole().toLowerCase().equalsIgnoreCase('Admin')}">
                                                <div class="pull-left">
                                                    <a  class="btn btn-primary" href="#l_save_landinfo_modal" data-toggle="modal"> <i class="zmdi zmdi-plus"></i> NEW</a>
                                                </div>
                                            </div>

                                            <div class="widget-container">
                                                <div class="widget-content">

                                                    <div class="row">
                                                        <div>
                                                            <div class="table-responsive">
                                                                <table id="list_landInfo" class="display table table-striped">
                                                                    <thead>
                                                                    <tr class="member">
                                                                        <th>UPI</th>
                                                                        <th>Sector</th>
                                                                        <th>Size</th>
                                                                        <th>Longitute</th>
                                                                        <th>Latitude</th>
                                                                        <th th:if="${!session.a_user.getRole().toLowerCase().equalsIgnoreCase('Admin')}">Action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            </div>

            <div class="row">
             <!--Modal for Creating contacts-->
              <div>
                  <div class="modal fade" id="l_save_contact_modal" tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-header modal-primary" style="background: rgb(0,155,212)" >
                                  <button  type="button" class="close" data-dismiss="modal" aria-hidden="true" > &times; </button>
                                  <h4 class="modal-title" style="text-align: center;color: white;">New Contact</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <form class="form-horizontal material-form" id="c_form">

                                              <div class="col-md-6">
                                                  <fieldset>
                                                      <legend>Contact</legend>

                                                      <div class="form-group ">
                                                          <label class="col-md-4 control-label">Names</label>
                                                          <div class=" col-md-8">
                                                              <input type="text" name="names" class="form-control" id="c_names" placeholder="Names" required="required">

                                                          </div>
                                                      </div>

                                                      <div class="form-group ">
                                                          <label class="col-md-4 control-label">Gender</label>
                                                          <div class="col-md-8">
                                                              <div class="span4">
                                                                  <label class="radio-toggle">
                                                                      <input type="radio" value="FEMALE" id="c_gender1" name="c_gender" checked>
                                                                      <i></i>
                                                                      FEMALE
                                                                  </label>
                                                                  <label class="radio-toggle">
                                                                      <input type="radio" value="MALE" id="c_gender2" name="c_gender">
                                                                      <i></i>
                                                                      MALE
                                                                  </label>
                                                              </div>
                                                          </div>
                                                      </div>


                                                      <div class="form-group ">
                                                          <label class="col-md-4 control-label">Title</label>
                                                          <div class=" col-md-8">
                                                              <input type="text" name="title" class="form-control" id="c_title" placeholder="Contact Title" required="required">
                                                          </div>
                                                      </div>

                                                      <div class="form-group ">
                                                          <label class="col-md-4 control-label">Primary Contact</label>
                                                          <div class="col-md-8">
                                                              <div class="span4">
                                                                  <label class="radio-toggle">
                                                                      <input type="radio" value="true" id="c_key_contact1" name="c_key_contact" >
                                                                      <i></i>
                                                                      YES
                                                                  </label>
                                                                  <label class="radio-toggle">
                                                                      <input type="radio" value="false" id="c_key_contact2" name="c_key_contact">
                                                                      <i></i>
                                                                      NO
                                                                  </label>
                                                              </div>
                                                          </div>
                                                      </div>


                                                  </fieldset>
                                              </div>


                                              <div class="col-md-6">
                                                  <fieldset>
                                                      <legend>&nbsp;&nbsp;</legend>


                                                      <div class="form-group ">
                                                          <label class="col-md-4 control-label">Phone</label>
                                                          <div class=" col-md-8">
                                                              <input type="text" name="phone" class="form-control telephone" id="c_phone" placeholder="2507xxxxxxxx" required="required">

                                                          </div>
                                                      </div>

                                                      <div class="form-group">
                                                          <label class="col-md-4 control-label">Email</label>
                                                          <div class=" col-md-8">
                                                              <input type="email" name="emailAddress" id="c_email" class="form-control" placeholder="Email" >
                                                          </div>
                                                      </div>



                                                  </fieldset>
                                              </div>
                                              <input type="hidden" id="c_registrant" th:value="${session.a_reg.getUuid()}">
                                              <input type="hidden" hidden="" id="c_role" value="manager"/>
                                              <div class="form-group col-md-12">

                                                  <div class="col-md-12">
                                                      <div class="form-actions">
                                                          <a  class="btn btn-primary pull-right" id="c_save"> <i class="zmdi zmdi-save"></i> Save</a>
                                                          <a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>

                                  </div>

                          </div>
                          <div class="modal-footer hidden">
                              <button class="btn btn-danger" type="button">Save</button>
                          </div>
                      </div>
                  </div>
              </div>
                <!--Modal for creating Landinfo-->
                <div>
                    <div class="modal fade" id="l_save_landinfo_modal" tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true">
                        <div class="modal-dialog modal-lg ">
                            <div class="modal-content">
                                <div class="modal-header modal-primary" style="background: rgb(0,155,212)" >
                                    <button  type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                                    <h4 class="modal-title" style="text-align: center;color: white;">New Land</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal material-form" id="l_form">

                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <legend>Land Info</legend>

                                                        <div class="form-group ">
                                                            <label class="col-md-4 control-label">Land UPI</label>
                                                            <div class=" col-md-8">
                                                                <input type="text" name="landUpi" class="form-control" id="l_upi" placeholder="Land UPI" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="col-md-4 control-label">Land Size</label>
                                                            <div class=" col-md-8">
                                                                <input type="number" name="landsize" class="form-control" id="l_size" placeholder="Size" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group inline-group ">
                                                            <label class="col-md-4 control-label">Size Unity</label>
                                                            <div class="col-md-8">
                                                                <select class="form-control" required="required" id="l_sizeUnity" name="sizeUnity">
                                                                    <option value="SQUARE_METER">SQUARE_METER</option>
                                                                    <option value="HECTARE">HECTARE</option>
                                                                    <option value="ARE">ARE</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>


                                                <div class="col-md-6">
                                                    <fieldset>
                                                        <legend>&nbsp;&nbsp;</legend>

                                                        <div class="form-group ">
                                                            <label class="col-md-4 control-label">Sector</label>
                                                            <div class=" col-md-8">
                                                                <input type="text" name="sector" class="form-control" id="l_sector" placeholder="Sector" required="required">

                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="col-md-4 control-label">Langitude</label>
                                                            <div class=" col-md-8">
                                                                <input type="number" name="latitude" class="form-control" id="l_longitude" placeholder="Langitude" required="required">
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label class="col-md-4 control-label">Latitude</label>
                                                            <div class=" col-md-8">
                                                                <input type="number" name="latitude" class="form-control" id="l_latitude" placeholder="Latitude" required="required">
                                                            </div>
                                                        </div>


                                                    </fieldset>
                                                </div>
                                                <input type="hidden" id="registrant" th:value="${session.a_reg.getUuid()}">
                                                <input type="hidden" hidden="" id="e_role" value="manager"/>
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="form-actions">
                                                            <a  class="btn btn-primary pull-right" id="l_save"> <i class="zmdi zmdi-save"></i> Save</a>
                                                            <a href="#" class="btn btn-default pull-left" data-dismiss="modal"> Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer hidden">
                                <button class="btn btn-danger" type="button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div data-th-replace="/Layout/Footer :: myFooter"></div>
            </div>

        </div>
    </div>

    </div>


    <div data-th-replace="/Link/Script :: myScript"></div>


    <script>
        var registrantUuid=$.parseJSON(sessionStorage.getItem('a_registrant')).uuid;
        var role=$.parseJSON(sessionStorage.getItem('a_user')).role;
        console.log(role);
        $(function (){
            viewAllContacts()
            viewAllLandInfos()
        });

        /***
         * Viewing all contacts of the entity by it uuuid
         *
         * */

        function viewAllContacts() {
            var tables=$("#list_contacts").DataTable().clear().draw();

            // tables.clear();
            $.ajax({
                headers: {

                    'bfw_token': 'BFW'+formatDate(new Date(), "dd-MM-yyyy")

                },
                type: "GET",
                url: bfw_url()+"/contacts/registrants/"+registrantUuid+"/all",

                success: function (resurt) {
                    if (resurt.CODE == 200) {
                        console.log(resurt)
                        $.each(resurt.OBJECT, function (i, contact) {
                            tables.row.add(
                                [
                                    contact.names,
                                    contact.gender,
                                    contact.title,
                                    (contact.primaryContact ==true) ? "YES" : "NO",
                                    contact.phone+"<br>"+contact.email,
                                    " <ul class='icons-list' style='list-style: none'>"+"" +
                                    "<li class='dropdown'>"+"" +
                                    "  <a href='javascript:void(0)' class='dropdown-toggle' data-toggle='dropdown'><i class='fa fa-bars'></i></a>"+"" +
                                    " <ul class='dropdown-menu dropdown-menu-right'>"+"" +
                                    "<li><a href='javascript:void(0)' id='m_edit' class='dropdown-toggle' data-toggle='tooltip'  title='Edit This Contact'><i class='zmdi zmdi-edit'></i> Update</a></li>"+"" +
                                    "<li><a data-uuid='"+contact.uuid+"' href='javascript:void(0)' class='dropdown-toggle check c_deleting' id='c_delete'  data-toggle='tooltip'  title='Delete This Contact' ><i class='zmdi zmdi-delete'></i> Delete<a></li>"+"" +
                                    " </ul>"+"" +
                                    " </li>"+"" +
                                    " </ul>"
                                ]
                            ).draw();
                        })

                        console.log("success get", resurt)
                    } else {
                        console.log("fail get", resurt)
                    }
                },
                error: function () {
                    //  console.log("ERROR", e);
                }
            })
        }


        /**
         * Viewing all LandInfo the a given entity based on it uuid
         */

        function viewAllLandInfos() {
            var tables=$("#list_landInfo").DataTable().clear().draw();
            // tables.clear();
            $.ajax({
                headers: {

                    'bfw_token': 'BFW'+formatDate(new Date(), "dd-MM-yyyy")

                },
                type: "GET",
                url: bfw_url()+"/registrants/landinfos/all/"+registrantUuid,

                success: function (resurt) {
                    if (resurt.CODE == 200) {
                        console.log(resurt)
                        $.each(resurt.OBJECT, function (i, landInfo) {
                            tables.row.add(
                                [
                                    landInfo.upi,
                                    landInfo.sectorName,
                                    landInfo.landSize+" "+landInfo.sizeUnity,
                                    landInfo.longitude,
                                    landInfo.latitude,
                                    " <ul class='icons-list' style='list-style: none'>"+"" +
                                    "<li class='dropdown'>"+"" +
                                    "  <a href='javascript:void(0)' class='dropdown-toggle' data-toggle='dropdown'><i class='fa fa-bars'></i></a>"+"" +
                                    " <ul class='dropdown-menu dropdown-menu-right'>"+"" +
                                    "<li><a href='javascript:void(0)' id='m_edit' class='dropdown-toggle' data-toggle='tooltip'  title='Edit Land informations'><i class='zmdi zmdi-edit'></i> Update</a></li>"+"" +
                                    "<li><a data-uuid='"+landInfo.uuid+"' href='javascript:void(0)' class='dropdown-toggle check l_deleting' id='l_delete'  data-toggle='tooltip'  title='Delete This Land' ><i class='zmdi zmdi-delete'></i> Delete<a></li>"+"" +
                                    " </ul>"+"" +
                                    " </li>"+"" +
                                    " </ul>"
                                ]
                            ).draw();
                        })

                        console.log("success get", resurt)
                    } else {
                        console.log("fail get", resurt)
                    }
                },
                error: function () {
                    //  console.log("ERROR", e);
                }
            })
        }

        var path
        var checkClicked
        $(document).on('click','.c_deleting',function (){
            var uuid=$(this).data('uuid');
            path=bfw_url()+"/contacts/delete/"+uuid
            $('#delete_modal').modal();
            checkClicked="c_deleting"
        });

        $(document).on('click','.l_deleting',function (){
            var uuid=$(this).data('uuid');
            path=bfw_url()+"/registrants/landinfos/delete/"+uuid

            $('#delete_modal').modal();

            checkClicked="l_deleting";
        });


        $(document).on('click','.delete_item',function () {


            if(checkClicked=="l_deleting"){
                deleteItem(path,viewAllLandInfos);
            }else if(checkClicked=="c_deleting") {
                deleteItem(path,viewAllContacts);
            }
            $('#delete_modal').modal('hide')
        });


    //  function for Saving contact
        $(document).on('click','#c_save',function (){
            var username=$.parseJSON(sessionStorage.getItem('a_user')).username;
            if($("#c_form").valid()){
                $("#c_save").addClass('disabled');

                var Member={
                    names:$("#c_names").val(),
                    phone:$("#c_phone").val(),
                    email:$("#c_email").val(),
                    registrant:$("#c_registrant").val(),
                    gender:$("input[name=c_gender]:checked").val(),
                    primaryContact:$("input[name=c_key_contact]:checked").val(),
                    title:$("#c_title").val(),
                }
                $.ajax({

                    headers: {

                        'bfw_token': 'BFW'+formatDate(new Date(), "dd-MM-yyyy"),
                        'doneBy':username
                    },
                    url: bfw_url()+'/contacts/save',
                    type : "POST", // type of action POST || GET
                    dataType : 'json', // data type
                    data : JSON.stringify(Member), // post data || get data
                    contentType: 'application/json',
                    success : function(result, textStatus, jQxhr) {
                        $("#c_save").removeClass('disabled');
                        if(result.CODE==200){
                            // console.log(result)
                            // $("#default_password_info").text('Member '+result.OBJECT.names+' is : '+result.DESCRIPTION);
                            $.alert(result.DESCRIPTION,
                                {
                                    type : "success",
                                    position : [ 'top-right',
                                        [ -0.42, 0 ] ],
                                });

                            $("#c_form").each(
                                function() {
                                    this.reset();
                                });
                            viewAllContacts();
                            $("#l_save_contact_modal").modal('hide');
                            // send SMS
                            //   SendSMS(Member.phone,Member.names,Member.identity,user.password);
                        }else{
                            $.alert(result.DESCRIPTION,
                                {
                                    type : "danger",
                                    position : [ 'top-right',
                                        [ -0.42, 0 ] ],
                                });
                        }


                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                        $("#c_save").removeClass('disabled');
                        $.alert('Error Occurred'+xhr.responseText,
                            {
                                type : "danger",
                                position : [ 'top-right',
                                    [ -0.42, 0 ] ],
                            });

                    }
                });

            }

        });





        //  function for Saving landinfo
        $(document).on('click','#l_save',function (){
            var username=$.parseJSON(sessionStorage.getItem('a_user')).username;
            if($("#l_form").valid()){
                $("#l_save").addClass('disabled');

                var Member={
                    landSize:$("#l_size").val(),
                    longitude:$("#l_longitude").val(),
                    latitude:$("#l_latitude").val(),
                    sectorName:$("#l_sector").val(),
                    sizeUnity:$("#l_sizeUnity").val(),
                    upi:$("#l_upi").val(),
                    registrant:$("#registrant").val()
                }
                $.ajax({

                    headers: {

                        'bfw_token': 'BFW'+formatDate(new Date(), "dd-MM-yyyy"),
                        'doneBy':username
                    },
                    url: bfw_url()+'/registrants/landinfos/save',
                    type : "POST", // type of action POST || GET
                    dataType : 'json', // data type
                    data : JSON.stringify(Member), // post data || get data
                    contentType: 'application/json',
                    success : function(result, textStatus, jQxhr) {
                        $("#l_save").removeClass('disabled');
                        if(result.CODE==200){
                            // console.log(result)
                            // $("#default_password_info").text('Member '+result.OBJECT.names+' is : '+result.DESCRIPTION);
                            $.alert(result.DESCRIPTION,
                                {
                                    type : "success",
                                    position : [ 'top-right',
                                        [ -0.42, 0 ] ],
                                });

                            $("#l_form").each(
                                function() {
                                    this.reset();
                                });
                            viewAllLandInfos();
                            $("#l_save_landinfo_modal").modal('hide');
                            // send SMS
                            //   SendSMS(Member.phone,Member.names,Member.identity,user.password);
                        }else{
                            $.alert(result.DESCRIPTION,
                                {
                                    type : "danger",
                                    position : [ 'top-right',
                                        [ -0.42, 0 ] ],
                                });
                        }


                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                        $("#l_save").removeClass('disabled');
                        $.alert('Error Occurred'+xhr.responseText,
                            {
                                type : "danger",
                                position : [ 'top-right',
                                    [ -0.42, 0 ] ],
                            });

                    }
                });

            }

        });
    </script>
</section>
</body>
</html>
