

<div data-th-fragment="myCss">
   
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>BFW</title>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/material-design-iconic-font.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
      
    <link type="text/css" rel="stylesheet" href="css/animate.css"> 
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    
    <link type="text/css" rel="stylesheet" href="css/daterangepicker.css">
    
    <link type="text/css" rel="stylesheet" href="css/components.css">
    <link type="text/css" rel="stylesheet" href="css/widgets.css">
      
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    
    <link type="text/css" rel="stylesheet" href="css/pages.css">  
    
    <link type="text/css" rel="stylesheet" href="css/bootstrap-extend.css">
    <link type="text/css" rel="stylesheet" href="css/common.css"> 
    <link type="text/css" rel="stylesheet" href="css/responsive.css"> 
    
    <link rel="stylesheet" type="text/css" media="screen" href="js/datePicker/bootstrap-datetimepicker.min.css"/> 
    
    <!-- Custom file for css -->
    <link type="text/css" rel="stylesheet" href="css/custom.css">

    <!--For phone Number by country-->
    <link rel="stylesheet" href="intlTelInput/build/css/intlTelInput.css">
    
    <style>
    body{
	 color: black;
	 font-size: 14px; 
	 font-weight:600;
}
    
    </style>

</div>