<div th:fragment="myScript">

<script src="js/lib/jquery-3.3.1.min.js"></script>
<script src="js/lib/jquery-migrate.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/jquery.ui.js"></script>
<!--  
<script src="js/lib/jRespond.js"></script>
-->
<script src="js/lib/nav.accordion.js"></script>
<!--  
<script src="js/lib/hover.intent.js"></script> -->

<script src="js/lib/hammerjs.js"></script>
<script src="js/lib/jquery.hammer.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/lib/daterangepicker.min.js"></script>
<!--  
<script src="js/lib/jquery.fitvids.js"></script>
 
<script src="js/lib/scrollup.js"></script>
<script src="js/lib/smoothscroll.js"></script>

<script src="js/lib/jquery.slimscroll.js"></script>
<script src="js/lib/jquery.syntaxhighlighter.js"></script>

<script src="js/lib/velocity.js"></script>
<script src="js/lib/smart-resize.js"></script>
-->


<!--Forms-->



<script src="js/lib/jquery.validate.js"></script>


<script src="js/apps.js"></script>
<!-- Custom js files -->


<script src="js/userm1.js"></script>
<!-- Custom file for validation -->
<script src="js/Validation.js"></script>
<!-- Custom file for registration -->
<script src="js/registration.js"></script>

<!-- Custom file for Serializing to JSON -->
<script src="js/SerializeToJSON.js"></script>

<script src="/js/datePicker/bootstrap-datetimepicker.js" type="text/javascript"></script>  
<script src="/js/Alert/alert.js" type="text/javascript"></script>
 
 <!--data tables -->
<script src="js/lib/jquery.dataTables.js"></script>
<script src="js/lib/dataTables.bootstrap.js"></script>
<script src="js/lib/dataTables.responsive.js"></script>
<script src="js/lib/dataTables.tableTools.js"></script>

 <!--For phone number by country-->
    <script src="intlTelInput/build/js/intlTelInput.js"></script>


<script>
$(function () {

    $(".telephone").intlTelInput({
        // options here
    });
	 $('[data-toggle="tooltip"]').tooltip();  // using tooltip
	
   //$('#datetimepicker1').datetimepicker();
   $ ('.form_date').datetimepicker ({
       weekStart : 1,
       todayBtn : 1,
       autoclose : 1,
       todayHighlight : 1,
       startView : 4,
       minView : 2,
       forceParse : 0
   });
   
 
});

/*
 *generating random password 
 * */

function generateRandomPasswod(){
	var randomstring = Math.random().toString(36).slice(-8);
	
	return randomstring
}
 
 /*
 Get user management url
 */
 
 function um_url(){
	 var um_url="http://localhost:9002";
	 return um_url;
 }
 
 /*
 Get BFW url
 */
 
 function bfw_url(){
	 var bfw_url="http://localhost:9003";
	 
	 return bfw_url;
 }
 
 
 
 

</script>

</div>