 <nav class="navbar navbar-expand-lg navbar-absolute fixed-bottom " data-th-fragment="myFooter">
     <div class="container-fluid">
         <div class="navbar-wrapper">
             <a class="navbar-brand"> </a>
         </div>
        
         <div class="collapse navbar-collapse justify-content-center">
              <span>© 2019 RANGA developed by Ndahigeze Yesse Jean Lini</span>
         </div>
     </div>
 </nav>