<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav"  data-th-fragment="HomeHeader">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="home">
                PPSS </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse ">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item" id="rent">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="javascript:void(0)" target="_blank" >
                        RENT
                    </a>
                </li>
                <li class="nav-item" id="sales">
                    <a class="nav-link" rel="tooltip"  title="" data-placement="bottom" href="javascript:void(0)" >
                        SALES
                    </a>
                </li>
                <!-- <li class="nav-item" id="agents">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="javascript:void(0)">
                        AGENTS
                    </a>
                </li> -->

            </ul>
            <ul class="navbar-nav ml-left">
               
                <li class="nav-item dropdown" th:if="${session.a_user!=null}">
                    <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-th" aria-hidden="true"></i>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a th:if="${session.a_user!=null}" class="dropdown-item" href="dashboard">Dashboard</a>
                        <a th:if="${session.a_user!=null}" class="dropdown-item" href="profile">User Profile</a>
                        <div class="dropdown-divider"></div>
                        <a th:if="${session.a_user==null}" class="dropdown-item" href="creationAccount">Create
                            Account</a>
                        <a th:if="${session.a_user!=null}" class="dropdown-item" id="logout_button" href="#">Log out</a>
                        <a th:if="${session.a_user==null}" class="dropdown-item" href="login">Log in</a>
                         
                    </div>
                </li>
                <li class="nav-item" th:if="${session.a_user==null}">
                      <a class="btn btn-outline-info" href="creationAccount">Create Account</a>
                </li>
                 <li class="nav-item" th:if="${session.a_user==null}">
                     <a style="margin: 5px" class="btn btn-outline-info" href="login">Log in</a>
                 </li>
                  <li class="nav-item dropdown" th:if="${session.a_user!=null}">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification" id="notificationNumber">0</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdownMenuLink" id="notificationWrapper">
                        
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
