 <nav class="navbar navbar-expand-lg navbar-absolute fixed-top " data-th-fragment="myHeader">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="home">PPSS</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>


            <div class="collapse navbar-collapse justify-content-end">
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <p class="d-lg-none d-md-block">
                                Stats
                            </p>
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown" th:if="${session.a_user!=null}">
                        <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="profile">User Profile</a>
                             <a th:if="${session.a_user!=null}" class="dropdown-item" href="dashboard">Dashboard</a>
                            <div class="dropdown-divider"></div>
                             <a th:if="${session.a_user!=null}" class="dropdown-item" id="logout_button" href="#">Log
                                 out</a>
                           
                        </div>
                    </li>
                     <li class="nav-item" th:if="${session.a_user==null}">
                         <a class="btn btn-outline-info" href="creationAccount">Create Account</a>
                     </li>
                     <li class="nav-item" th:if="${session.a_user==null}">
                         <a style="margin: 5px" class="btn btn-outline-info" href="login">Log in</a>
                     </li>
                    <li class="nav-item dropdown" th:if="${session.a_user!=null}">
                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">notifications</i>
                            <span class="notification" id="notificationNumber">0</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"
                            id="notificationWrapper">


                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>