

<div class="sidebar sidebar-main hidden-xs" data-th-fragment="mySidebar">
	<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

		<div class="logo">
			<a href="javascript:void(0)" class="simple-text logo-normal">
				RANGA
			</a>
		</div>
		<div class="sidebar-wrapper">
			<input type="hidden" id="profile" th:value="${session.a_user.getUuid()}">
			<div class="nav-item alert-primary">
				<div class="nav-link " style="background-color: #3F729B">
					<div class="row justify-content-center">
						<div class="col-md-3">
							<img style="width:40px; height:90%;" id="profileImage" class="rounded img-fluid" src="" />
						</div>
						<div class="col">
                            <div ><span class="text-light"
                            		th:text="${session.a_user.getNames()}"></span></div>
                            <div><span class="text-light"
                            		th:text="${session.a_user.getEmailAddress()}"></span>
                            </div>
						</div>
						
					</div>
					
				</div>
			</div>
			<ul class="nav" th:if="${session.a_user!=null}">
				<li class=" nav-item alert-primary"
					style="padding-top:0px; ">
					<a class="nav-link" href="dashboard">
						<p><i class="fa fa-dashboard"></i> DASHBOARD</p>
					</a>
				</li>
				<li th:if="${!session.a_user.getRole().equalsIgnoreCase('Admin')}" class=" nav-item ">
					<a class="nav-link" href="properties">
						<i class="zmdi zmdi-group-work"></i><p>PROPERTIES</p>
					</a>
				</li>
				<li th:if="${!session.a_user.getRole().equalsIgnoreCase('Admin')}" class=" nav-item ">
					<a class="nav-link" href="requests">
						<i class="zmdi zmdi-arrow-right"></i><p>SENT REQUESTS</p>
					</a>
				</li>
				<li th:if="${!session.a_user.getRole().equalsIgnoreCase('Admin')}" class=" nav-item ">
					<a class="nav-link" href="receivedrequests">
						<i class="zmdi zmdi-arrow-left"></i><p>RECEIVED REQUESTS</p>
					</a>
				</li>
				<li th:if="${!session.a_user.getRole().equalsIgnoreCase('Admin')}" class="nav-item ">
					<a class="nav-link" href="renewrequests">
						<i class="zmdi zmdi-refresh"></i><p>RENEWED REQUESTS</p>
					</a>
				</li>
				<li th:if="${session.a_user.getRole().equalsIgnoreCase('Admin')}">
					<a class="nav-link" href="payments">
						<i class="zmdi zmdi-money"></i>
						<p>PAYMENTS TRANSACTIONS</p>
					</a>
				</li>
				<li th:if="${session.a_user.getRole().equalsIgnoreCase('Admin')}">
					<a class="nav-link" href="users">
						<i class="zmdi zmdi-accounts"></i>
						<p>SYSTEM USERS</p>
					</a>
				</li>
				<li th:if="${session.a_user.getRole().equalsIgnoreCase('Admin')}">
					<a class="nav-link" href="subscription">
						<i class="zmdi zmdi-tag"></i>
						<p>SUBSCRIPTION</p>
					</a>
				</li>
				<li  class="nav-item ">
					<a class="nav-link" href="profile">
						<i class="zmdi zmdi-account"></i><p>USER PROFILE</p>
					</a>
				</li>
				<!-- <li class="nav-item ">
					<a class="nav-link" href="reports">
						<i class="zmdi zmdi-assignment"></i>
						<p>REPORTS</p>
					</a>
				</li> -->
			
			</ul>
		</div>
	</div>

</div>
<div th:if="${session.a_user!=null}">
	<input type="hidden" id="userUuid" name="agent" th:value="${session.a_user.getUuid()}">

	<input type="hidden" id="userEmail" name="agentEmail" th:value="${session.a_user.getEmailAddress()}">
	<input type="hidden" id="userNames" name="agentName" th:value="${session.a_user.getNames()}">
</div>
<script>
	
	$(function(){
		
	})

	
</script>