

<div data-th-fragment="HomeCss">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>RANGA</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!--<link href="/css/.min.css?v=2.0.5" rel="stylesheet" />-->
    <link type="text/css" rel="stylesheet" href="/landing/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/css/material-design-iconic-font.css">
    <link href="/landing/css/material-kit.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/fileinput.css">
    <link type="text/css" rel="stylesheet" href="css/custom.css">
    <link type="text/css" rel="stylesheet" href="/landing/css/daterangepicker.css">
    <link type="text/css" rel="stylesheet" href="/css/sweetalert2.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/fileinput.css"> -->




    <style>
        body{
            color: black;
            font-size: 14px;
            font-weight:600;
        }

    </style>

</div>