<div th:fragment="HomeScript">


    <script src="js/core/jquery.min.js"></script>
    <script src="js/c3/c3.js"></script>
    <script src="js/c3/c3.min.js"></script>
    <script src="js/c3/d3-5.4.0.min.js"></script>


    <script src="js/daterangepicker.min.js"></script>
    <script src="js/fileinput.min.js"></script>

    <!-- Custom file for Serializing to JSON -->
    <script src="js/SerializeToJSON.js"></script>

    <!--For phone number by country-->
    <script src="/js/intlTelInput/build/js/intlTelInput.js"></script>

    <script src="/js/datePicker/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="/js/Alert/alert.js" type="text/javascript"></script>

    <!-- 3D DASHboard chart plugin -->
    <script src="/js/c3/d3-5.4.0.min.js" type="text/javascript"></script>
    <!-- <script src="/js/c3/d3pie.min.js" type="text/javascript"></script> -->
    <script src="/js/c3/c3.min.js" type="text/javascript"></script>

    <!--For phone number by country-->
    <script src="/js/intlTelInput/build/js/intlTelInput.js"></script>

    <!--Material Link-->


    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap-material-design.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/moment.min.js"></script>

    <script src="/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <!-- Chartist JS -->
    <script src="/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/demo/demo.js"></script>
     <script src="/js/registration.js"></script>
     <script src="/js/userm.js"></script>

      <script src="/js/sweetalert2.all.min.js"></script>
   
    <script>
        $(function () {

            $(".telephone").intlTelInput({
                // options here
            });
            $('[data-toggle="tooltip"]').tooltip();  // using tooltip

            //$('#datetimepicker1').datetimepicker();
            $ ('.form_date').datetimepicker ({
                weekStart : 1,
                todayBtn : 1,
                autoclose : 1,
                todayHighlight : 1,
                startView : 4,
                minView : 2,
                forceParse : 0
            });

            $(".telephone").intlTelInput({
                // options here
            });

        });

        /*
         *generating random password
         * */

        function generateRandomPasswod(){
            var randomstring = Math.random().toString(36).slice(-8);

            return randomstring
        }


      function goBack(){
         history.back();
      }



    </script>

</div>