@media screen and (min-width: 1000px) {
    #page_header_row {
        margin-left: 370px;
    }
}

label.error {
    color: #e9211e;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.erroPsswd {
    color: #e9211e;
}

.card .card-header-custom .card-icon, .card .card-header-custom .card-text, .card .card-header-custom:not(.card-header-icon):not(.card-header-text), .card.bg-info, .card.card-rotate.bg-info .front, .card.card-rotate.bg-info .back {
    background: linear-gradient(60deg, #172b4d, #172b4d);
}

.btn, .btn.btn-default {
    color: #fff;
    background-color: #eeeaea;
    border-color: #999999;
    box-shadow: 0 2px 2px 0 rgba(230, 228, 228, 0.966), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.form-control {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-control:focus {
    color: #8898aa;
    border-color: rgba(50, 151, 211, .25);
    outline: 0;
    background-color: #fff;
    box-shadow: none, none;
}

.form-control::-webkit-input-placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control::-ms-input-placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control::placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 1;
    background-color: #e9ecef;
}

select.form-control:focus::-ms-value {
    color: #8898aa;
    background-color: #fff;
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%;
}

.col-form-label {
    font-size: inherit;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: calc(.625rem + 1px);
    padding-bottom: calc(.625rem + 1px);
}

.col-form-label-lg {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: calc(.875rem + 1px);
    padding-bottom: calc(.875rem + 1px);
}

.col-form-label-sm {
    font-size: .875rem;
    line-height: 1.5;
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
}

.form-control-plaintext {
    line-height: 1.5;
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding-top: .625rem;
    padding-bottom: .625rem;
    color: #525f7f;
    border: solid transparent;
    border-width: 1px 0;
    background-color: transparent;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0;
}

.form-control-sm {
    font-size: .875rem;
    line-height: 1.5;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    border-radius: .2rem;
}

.form-control-lg {
    font-size: 1.25rem;
    line-height: 1.5;
    height: calc(3.625rem + 2px);
    padding: .875rem 1rem;
    border-radius: .3rem;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.form-row {
    display: flex;
    margin-right: -5px;
    margin-left: -5px;
    flex-wrap: wrap;
}

.form-row>.col, .form-row>[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-input:disabled~.form-check-label {
    color: #8898aa;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-inline {
    display: inline-flex;
    margin-right: .75rem;
    padding-left: 0;
    align-items: center;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.valid-feedback {
    font-size: 80%;
    display: none;
    width: 100%;
    margin-top: .25rem;
    color: #2dce89;
}

.valid-tooltip {
    font-size: .875rem;
    line-height: 1;
    position: absolute;
    z-index: 5;
    top: 100%;
    display: none;
    max-width: 100%;
    margin-top: .1rem;
    padding: .5rem;
    color: #fff;
    border-radius: .2rem;
    background-color: rgba(45, 206, 137, .8);
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #2dce89;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
    border-color: #2dce89;
}

.was-validated .form-control:valid~.valid-feedback, .was-validated .form-control:valid~.valid-tooltip, .form-control.is-valid~.valid-feedback, .form-control.is-valid~.valid-tooltip, .was-validated .custom-select:valid~.valid-feedback, .was-validated .custom-select:valid~.valid-tooltip, .custom-select.is-valid~.valid-feedback, .custom-select.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .form-check-input:valid~.form-check-label, .form-check-input.is-valid~.form-check-label {
    color: #2dce89;
}

.was-validated .form-check-input:valid~.valid-feedback, .was-validated .form-check-input:valid~.valid-tooltip, .form-check-input.is-valid~.valid-feedback, .form-check-input.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .custom-control-input:valid~.custom-control-label, .custom-control-input.is-valid~.custom-control-label {
    color: #2dce89;
}

.was-validated .custom-control-input:valid~.custom-control-label::before, .custom-control-input.is-valid~.custom-control-label::before {
    border-color: #93e7c3;
    background-color: #93e7c3;
}

.was-validated .custom-control-input:valid~.valid-feedback, .was-validated .custom-control-input:valid~.valid-tooltip, .custom-control-input.is-valid~.valid-feedback, .custom-control-input.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before, .custom-control-input.is-valid:checked~.custom-control-label::before {
    border-color: #93e7c3;
    background-color: #54daa1;
}

.was-validated .custom-control-input:valid:focus~.custom-control-label::before, .custom-control-input.is-valid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0 rgba(45, 206, 137, .25);
}

.was-validated .custom-file-input:valid~.custom-file-label, .custom-file-input.is-valid~.custom-file-label {
    border-color: #2dce89;
}

.was-validated .custom-file-input:valid~.custom-file-label::before, .custom-file-input.is-valid~.custom-file-label::before {
    border-color: inherit;
}

.was-validated .custom-file-input:valid~.valid-feedback, .was-validated .custom-file-input:valid~.valid-tooltip, .custom-file-input.is-valid~.valid-feedback, .custom-file-input.is-valid~.valid-tooltip {
    display: block;
}

.was-validated .custom-file-input:valid:focus~.custom-file-label, .custom-file-input.is-valid:focus~.custom-file-label {
    box-shadow: 0 0 0 0 rgba(45, 206, 137, .25);
}

.invalid-feedback {
    font-size: 80%;
    display: none;
    width: 100%;
    margin-top: .25rem;
    color: #fb6340;
}

.invalid-tooltip {
    font-size: .875rem;
    line-height: 1;
    position: absolute;
    z-index: 5;
    top: 100%;
    display: none;
    max-width: 100%;
    margin-top: .1rem;
    padding: .5rem;
    color: #fff;
    border-radius: .2rem;
    background-color: rgba(251, 99, 64, .8);
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-color: #fb6340;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
    border-color: #fb6340;
}

.was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .form-check-input:invalid~.form-check-label, .form-check-input.is-invalid~.form-check-label {
    color: #fb6340;
}

.was-validated .form-check-input:invalid~.invalid-feedback, .was-validated .form-check-input:invalid~.invalid-tooltip, .form-check-input.is-invalid~.invalid-feedback, .form-check-input.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .custom-control-input:invalid~.custom-control-label, .custom-control-input.is-invalid~.custom-control-label {
    color: #fb6340;
}

.was-validated .custom-control-input:invalid~.custom-control-label::before, .custom-control-input.is-invalid~.custom-control-label::before {
    border-color: #fec9bd;
    background-color: #fec9bd;
}

.was-validated .custom-control-input:invalid~.invalid-feedback, .was-validated .custom-control-input:invalid~.invalid-tooltip, .custom-control-input.is-invalid~.invalid-feedback, .custom-control-input.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .custom-control-input:invalid:checked~.custom-control-label::before, .custom-control-input.is-invalid:checked~.custom-control-label::before {
    border-color: #fec9bd;
    background-color: #fc8c72;
}

.was-validated .custom-control-input:invalid:focus~.custom-control-label::before, .custom-control-input.is-invalid:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0 rgba(251, 99, 64, .25);
}

.was-validated .custom-file-input:invalid~.custom-file-label, .custom-file-input.is-invalid~.custom-file-label {
    border-color: #fb6340;
}

.was-validated .custom-file-input:invalid~.custom-file-label::before, .custom-file-input.is-invalid~.custom-file-label::before {
    border-color: inherit;
}

.was-validated .custom-file-input:invalid~.invalid-feedback, .was-validated .custom-file-input:invalid~.invalid-tooltip, .custom-file-input.is-invalid~.invalid-feedback, .custom-file-input.is-invalid~.invalid-tooltip {
    display: block;
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label, .custom-file-input.is-invalid:focus~.custom-file-label {
    box-shadow: 0 0 0 0 rgba(251, 99, 64, .25);
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline .form-check {
    width: 100%;
}

@media (min-width: 576px) {
    .form-inline label {
        display: flex;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    .form-inline .form-group {
        display: flex;
        margin-bottom: 0;
        flex: 0 0 auto;
        flex-flow: row wrap;
        align-items: center;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .form-control-plaintext {
        display: inline-block;
    }
    .form-inline .input-group, .form-inline .custom-select {
        width: auto;
    }
    .form-inline .form-check {
        display: flex;
        width: auto;
        padding-left: 0;
        align-items: center;
        justify-content: center;
    }
    .form-inline .form-check-input {
        position: relative;
        margin-top: 0;
        margin-right: .25rem;
        margin-left: 0;
    }
    .form-inline .custom-control {
        align-items: center;
        justify-content: center;
    }
    .form-inline .custom-control-label {
        margin-bottom: 0;
    }
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group>.form-control, .input-group>.custom-select, .input-group>.custom-file {
    position: relative;
    width: 1%;
    margin-bottom: 0;
    flex: 1 1 auto;
}

.input-group>.form-control+.form-control, .input-group>.form-control+.custom-select, .input-group>.form-control+.custom-file, .input-group>.custom-select+.form-control, .input-group>.custom-select+.custom-select, .input-group>.custom-select+.custom-file, .input-group>.custom-file+.form-control, .input-group>.custom-file+.custom-select, .input-group>.custom-file+.custom-file {
    margin-left: -1px;
}

.input-group>.form-control:focus, .input-group>.custom-select:focus, .input-group>.custom-file .custom-file-input:focus~.custom-file-label {
    z-index: 3;
}

.input-group>.custom-file .custom-file-input:focus {
    z-index: 4;
}

.input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.form-control:not(:first-child), .input-group>.custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.custom-file {
    display: flex;
    align-items: center;
}

.input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-file:not(:first-child) .custom-file-label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-prepend, .input-group-append {
    display: flex;
}

.input-group-prepend .btn, .input-group-append .btn {
    position: relative;
    z-index: 2;
}

.input-group-prepend .btn+.btn, .input-group-prepend .btn+.input-group-text, .input-group-prepend .input-group-text+.input-group-text, .input-group-prepend .input-group-text+.btn, .input-group-append .btn+.btn, .input-group-append .btn+.input-group-text, .input-group-append .input-group-text+.input-group-text, .input-group-append .input-group-text+.btn {
    margin-left: -1px;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    margin-bottom: 0;
    padding: .625rem .75rem;
    text-align: center;
    white-space: nowrap;
    color: #adb5bd;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    background-color: #fff;
    align-items: center;
}

.input-group-text input[type='radio'], .input-group-text input[type='checkbox'] {
    margin-top: 0;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-prepend>.input-group-text, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-append>.btn {
    font-size: 1.25rem;
    line-height: 1.5;
    height: calc(3.625rem + 2px);
    padding: .875rem 1rem;
    border-radius: .3rem;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-prepend>.input-group-text, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-append>.btn {
    font-size: .875rem;
    line-height: 1.5;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    border-radius: .2rem;
}

.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text, .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.75rem;
}

.custom-control-inline {
    display: inline-flex;
    margin-right: 1rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #5e72e4;
    box-shadow: none;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #5e72e4;
    box-shadow: none;
}

.custom-control-input:disabled~.custom-control-label {
    color: #8898aa;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
}

.custom-control-label::before {
    position: absolute;
    top: .125rem;
    left: -1.75rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    background-color: #fff;
    box-shadow: none;
}

.custom-control-label::after {
    position: absolute;
    top: .125rem;
    left: -1.75rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .2rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #5e72e4;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'%23fff\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3E%3C/svg%3E');
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #5e72e4;
    box-shadow: none;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 4\'%3E%3Cpath stroke=\'%23fff\' d=\'M0 2h4\'/%3E%3C/svg%3E');
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(94, 114, 228, .5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(94, 114, 228, .5);
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #5e72e4;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'%3E%3Ccircle r=\'3\' fill=\'%23fff\'/%3E%3C/svg%3E');
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(94, 114, 228, .5);
}

.custom-select {
    line-height: 1.5;
    display: inline-block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    vertical-align: middle;
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    background: #fff url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%2332325d\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E') no-repeat right .75rem center;
    background-size: 8px 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-color: rgba(50, 151, 211, .25);
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 0 0 rgba(50, 151, 211, .5);
}

.custom-select:focus::-ms-value {
    color: #8898aa;
    background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size='1']) {
    height: auto;
    padding-right: .75rem;
    background-image: none;
}

.custom-select:disabled {
    color: #8898aa;
    background-color: #e9ecef;
}

.custom-select::-ms-expand {
    opacity: 0;
}

.custom-select-sm {
    font-size: 75%;
    height: calc(1.8125rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.custom-select-lg {
    font-size: 125%;
    height: calc(3.625rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.75rem + 2px);
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.75rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-input:focus~.custom-file-label {
    border-color: rgba(50, 151, 211, .25);
    box-shadow: none;
}

.custom-file-input:focus~.custom-file-label::after {
    border-color: rgba(50, 151, 211, .25);
}

.custom-file-input:disabled~.custom-file-label {
    background-color: #e9ecef;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: 'Browse';
}

.custom-file-label {
    line-height: 1.5;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: none;
}

.custom-file-label::after {
    line-height: 1.5;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 2.75rem;
    padding: .625rem .75rem;
    content: 'Browse';
    color: #8898aa;
    border-left: 1px solid #cad1d7;
    border-radius: 0 .25rem .25rem 0;
    background-color: #fff;
}

.custom-range {
    width: 100%;
    padding-left: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-range:focus {
    outline: none;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, none;
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, none;
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, none;
}

.custom-range::-moz-focus-outer {
    border: 0;
}

.custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 0;
    border-radius: 1rem;
    background-color: #5e72e4;
    box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .1);
    -webkit-appearance: none;
    appearance: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    .custom-range::-webkit-slider-thumb {
        transition: none;
    }
}

.custom-range::-webkit-slider-thumb:active {
    background-color: #f7f8fe;
}

.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    color: transparent;
    border-color: transparent;
    border-radius: 1rem;
    background-color: #dee2e6;
    box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, .1);
}

.custom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 0;
    border-radius: 1rem;
    background-color: #5e72e4;
    box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .1);
    -moz-appearance: none;
    appearance: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    .custom-range::-moz-range-thumb {
        transition: none;
    }
}

.custom-range::-moz-range-thumb:active {
    background-color: #f7f8fe;
}

.custom-range::-moz-range-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    color: transparent;
    border-color: transparent;
    border-radius: 1rem;
    background-color: #dee2e6;
    box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, .1);
}

.custom-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 0;
    border-radius: 1rem;
    background-color: #5e72e4;
    box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .1);
    appearance: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    .custom-range::-ms-thumb {
        transition: none;
    }
}

.custom-range::-ms-thumb:active {
    background-color: #f7f8fe;
}

.custom-range::-ms-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    color: transparent;
    border-width: .5rem;
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, .1);
}

.custom-range::-ms-fill-lower {
    border-radius: 1rem;
    background-color: #dee2e6;
}

.custom-range::-ms-fill-upper {
    margin-right: 15px;
    border-radius: 1rem;
    background-color: #dee2e6;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .custom-control-label::before, .custom-file-label, .custom-select {
        transition: none;
    }
}

.form-control {
    font-size: .875rem;
}

.form-control:focus::-webkit-input-placeholder {
    color: #adb5bd;
}

.form-control:focus:-ms-input-placeholder {
    color: #adb5bd;
}

.form-control:focus::-ms-input-placeholder {
    color: #adb5bd;
}

.form-control:focus::placeholder {
    color: #adb5bd;
}

/* Textareas */

textarea[resize='none'] {
    resize: none !important;
}

textarea[resize='both'] {
    resize: both !important;
}

textarea[resize='vertical'] {
    resize: vertical !important;
}

textarea[resize='horizontal'] {
    resize: horizontal !important;
}

/* Alternative styles */

.form-control-muted {
    border-color: #edf0f5;
    background-color: #edf0f5;
    box-shadow: none;
}

.form-control-muted:focus {
    background-color: #edf0f5;
}

.form-control-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.form-control-alternative:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.form-control-lg {
    font-size: 1rem;
}

.has-success, .has-danger {
    position: relative;
}

.has-success:after, .has-danger:after {
    font-family: 'NucleoIcons';
    font-size: 9px;
    line-height: 19px;
    position: absolute;
    top: 2px;
    right: 15px;
    display: inline-block;
    width: 19px;
    height: 19px;
    transform: translateY(50%);
    text-align: center;
    opacity: 1;
    border-radius: 50%;
}

.has-success:after {
    content: '\ea26';
    color: daken(#2dce89, 18%);
    background-color: #69deac;
}

.has-success .form-control {
    background-color: #fff;
}

.has-success .form-control:focus {
    border-color: rgba(50, 151, 211, .25);
}

.has-success .form-control::-webkit-input-placeholder {
    color: #2dce89;
}

.has-success .form-control:-ms-input-placeholder {
    color: #2dce89;
}

.has-success .form-control::-ms-input-placeholder {
    color: #2dce89;
}

.has-success .form-control::placeholder {
    color: #2dce89;
}

.has-danger:after {
    content: '\ea53';
    color: daken(#fb6340, 18%);
    background-color: #fda08b;
}

.has-danger .form-control {
    background-color: #fff;
}

.has-danger .form-control:focus {
    border-color: rgba(50, 151, 211, .25);
}

.has-danger .form-control::-webkit-input-placeholder {
    color: #fb6340;
}

.has-danger .form-control:-ms-input-placeholder {
    color: #fb6340;
}

.has-danger .form-control::-ms-input-placeholder {
    color: #fb6340;
}

.has-danger .form-control::placeholder {
    color: #fb6340;
}

@media (min-width: 992px) {
    .container-lg {
        max-width: 1160px;
    }
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon i, .icon svg {
    font-size: 2.25rem;
}

.icon+.icon-text {
    width: calc(100% - 3rem - 1);
    padding-left: 1rem;
}

.icon-xl {
    width: 5rem;
    height: 5rem;
}

.icon-xl i, .icon-xl svg {
    font-size: 4.25rem;
}

/* 
.icon-xl+.icon-text {
    width: calc(100% - $icon-size-xl - 1);
} */

.icon-lg {
    width: 4rem;
    height: 4rem;
}

.icon-lg i, .icon-lg svg {
    font-size: 3.25rem;
}

/* 
.icon-lg+.icon-text {
    width: calc(100% - $icon-size-lg - 1);
} */

.icon-sm {
    width: 2rem;
    height: 2rem;
}

.icon-sm i, .icon-sm svg {
    font-size: 1.25rem;
}

/* 
.icon-sm+.icon-text {
    width: calc(100% - $icon-size-sm - 1);
} */

.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-shape i, .icon-shape svg {
    font-size: 1.25rem;
}

.icon-shape.icon-lg i, .icon-shape.icon-lg svg {
    font-size: 1.625rem;
}

.icon-shape.icon-sm i, .icon-shape.icon-sm svg {
    font-size: .875rem;
}

.icon-shape svg {
    width: 30px;
    height: 30px;
}

.icon-shape-primary {
    color: #2643e9;
    background-color: rgba(138, 152, 235, .5);
}

.icon-shape-secondary {
    color: #d3d9e5;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-success {
    color: #1aae6f;
    background-color: rgba(84, 218, 161, .5);
}

.icon-shape-info {
    color: #03acca;
    background-color: rgba(65, 215, 242, .5);
}

.icon-shape-warning {
    color: #ff3709;
    background-color: rgba(252, 140, 114, .5);
}

.icon-shape-danger {
    color: #f80031;
    background-color: rgba(247, 103, 131, .5);
}

.icon-shape-light {
    color: #879cb0;
    background-color: rgba(201, 207, 212, .5);
}

.icon-shape-dark {
    color: #090c0e;
    background-color: rgba(56, 63, 69, .5);
}

.icon-shape-default {
    color: #091428;
    background-color: rgba(35, 65, 116, .5);
}

.icon-shape-white {
    color: #e8e3e3;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-neutral {
    color: #e8e3e3;
    background-color: rgba(255, 255, 255, .5);
}

.icon-shape-darker {
    color: black;
    background-color: rgba(26, 26, 26, .5);
}

.input-group {
    transition: all .15s ease;
    border-radius: .25rem;
    box-shadow: none;
}

.input-group .form-control {
    box-shadow: none;
}

.input-group .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
}

.input-group .form-control:not(:last-child) {
    padding-right: 0;
    border-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.input-group-text {
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.input-group-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.input-group-alternative .form-control, .input-group-alternative .input-group-text {
    border: 0;
    box-shadow: none;
}

.focused .input-group-alternative {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}

.focused .input-group {
    box-shadow: none;
}

.focused .input-group-text {
    color: #8898aa;
    border-color: rgba(50, 151, 211, .25);
    background-color: #fff;
}

.focused .form-control {
    border-color: rgba(50, 151, 211, .25);
}

/*  My Css*/

.container-custom {
    margin-top: 15px;
    padding-top: 0px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 24px -5px rgba(196, 186, 196, 0.54);
    -moz-box-shadow: 0px 0px 24px -5px rgba(196, 186, 196, 0.54);
    box-shadow: 0px 0px 24px -5px rgba(196, 186, 196, 0.54);
}

.hidden{
    display: none;
}