.card-shadow {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}
.login-page {
  padding-top: 0px;
  background-image: url("../images/whitey.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
.login-container {
  margin-top: 60px;
}
.login-form-header {
  padding: 15px 30px;
}
.login-form-header .logo {
  text-align: center;
}
.login-input .login-frm-input {
  height: 50px;
}
.login-input .icon-left {
  height: 48px;
  line-height: 47px !important;
}
.login-form-footer .btn {
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.btn-login {
  padding: 10px 20px !important;
  background-color: #fff !important;
  border: #bbb 1px solid !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.btn-login:hover {
  background-color: #17bab8 !important;
  border: #17bab8 1px solid !important;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
  color: #fff !important;
}
.btn-login:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12) !important;
}
.login-page-footer {
  margin-top: 30px;
  text-align: center;
}
.boxed-login .login-form-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxed-login .login-form-header {
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  padding: 15px 0px 0px 0px;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  margin-bottom: 25px;
}
.boxed-login .login-form-header .logo {
  text-align: center;
}
.boxed-login .login-form-footer {
  padding: 25px;
  margin-top: 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.boxed-login .login-form-footer .btn {
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.social-login {
  padding: 40px 0px;
}
.social-login > .login-container {
  margin-top: 0px !important;
}
.social-login .login-form-footer {
  margin-bottom: 25px !important;
}
.error-code {
  margin-bottom: 30px;
  font-size: 150px;
  text-align: center;
  font-family: 'Kranky', cursive;
}
.error-code > div {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 100px 60px 40px 0px;
  -moz-border-radius: 100px 60px 40px 0px;
  -webkit-border-radius: 100px 60px 40px 0px;
  line-height: normal;
}
.error-code > div > span {
  color: #17bab8;
}
.error-code > div:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 60px solid #fff;
  border-right: 60px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -40px;
}
.error-message {
  margin-bottom: 40px;
  text-align: right;
}
.error-message h4 {
  font-size: 32px;
  font-weight: 300;
  color: #e57373;
}
.error-body {
  margin-bottom: 60px;
}
.error-footer-container {
  margin-top: 30px;
  padding: 15px;
  color: #666;
}
.error-footer-container a {
  color: #868686;
}
.error-footer-container a:hover,
.error-footer-container a:focus {
  text-decoration: none;
}
.error-footer-container .footer-right {
  text-align: right;
}
.error-footer-container .footer-right .footer-meta i {
  color: #00bcd4;
}
.profile-table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 30px;
}
