

<div data-th-fragment="myCss">
   
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>RANGA</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!--<link href="/css/.min.css?v=2.0.5" rel="stylesheet" />-->
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/material-design-iconic-font.css">
    <link type="text/css" rel="stylesheet" href="/demo/demo.css">
    <link type="text/css" rel="stylesheet" href="/css/fileinput.css">


    <!--Material Design-->
    <link type="text/css" rel="stylesheet" href="css/material-dashboard.css?v=2.1.1">
    <!-- <link type="text/css" rel="stylesheet" href="css/material-dashboard-rtl.css"> -->

     
    <link type="text/css" rel="stylesheet" href="css/c3.css">
    <!-- <link type="text/css" rel="stylesheet" href="css/c3.min.css"> -->
    
    <link type="text/css" rel="stylesheet" href="css/daterangepicker.css">
    
    <link rel="stylesheet" type="text/css" media="screen" href="js/datePicker/bootstrap-datetimepicker.min.css"/> 
    <!-- <link rel="stylesheet" type="text/css" href="/css/fileinput.css"> -->

       <link type="text/css" rel="stylesheet" href="/css/sweetalert2.min.css">
    <!--For phone Number by country-->
    <link rel="stylesheet" href="js/DataTables/datatables.min.css">
      <link rel="stylesheet" href="css/custom.css">
    <style>
    body{
	 color: black;
	 font-size: 14px; 
	 font-weight:600;
}
    
    </style>

</div>